* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(45, 2, 58);

  font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 18px;
  color: #ffffff;
  width:100%;

}
h1{
  text-align: center;
  margin-top: 20px;
}
.container {
  margin-top: 150px;
  border: 5px solid rgb(255, 23, 54);
  background-color: powderblue;
  position: relative;
  padding: 50px;
 
 
}
.box{
  margin-left: 30px;
  margin-top: 50px;

color:#000;
}
.move{
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  height:100px;
  text-align: center;
  color:orangered;
  border:5px solid rgb(186, 224, 17);
}